
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
body{
  background-color:#C5E4E7; 
  align-items: flex-end;
  height: 100vh;
}
.logo{
  display: block;
margin: 50px auto 40px ;
}
.full-box{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.white-box{
  height: 789px;
  width: 375px;
  background: #FFFFFF;
  border-radius: 25px 25px 0px 0px;
  margin-top: 40px;
  padding: 32px ;
}
/* #amount-box{
  height: 48px;
  width: 311px;
  background: #F3F9FA;
  border-radius: 5px;
  margin-bottom: 32px;
  padding-left: 40px;
} */
.input-box{
    display: flex;
    border: none;
}
.dollar-icon{
  height: 15.456000328063965px;
  width: 9.84000015258789px;
  position: relative;
  left: 19px;
  top: 17px;
}
#tip-form input, #tip-form button {
  font-family: 'Space Mono', monospace;
}
.cant-be-zero{
  display: flex;
  justify-content: space-between;
  
}
#error{
  font-family: 'Space Mono' monospace;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: right;
color: #E17457;
display: none;

}
#tip-form label{
  
  font-size: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #5E7A7D;
  margin-bottom: 16px;
}
#tip-form input[type="number"]{
  
  height: 48px;
  width:100%;
  background: #F3F9FA;
  border-radius: 5px;
  margin-bottom: 32px;
  padding-left: 40px;
  text-align: right;
  color:  #00474B;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  border:none;




}

.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#percent-container{
  display: flex;
flex-wrap: wrap;
column-gap: 16px;
}
.percent-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 146.6311798095703px;
  border-radius: 5px;
  background: #00474B;
  border-radius: 5px;
  margin-bottom: 16px;
  border: none;
  color:#FFFFFF;
  /* font-family: 'Space Mono', monospace; */
  font-size: 24px;
  font-weight: 700;
    line-height: 36px;
}
.percent-button:focus{
  background: #26C2AE;
  color: #00474B;
}


.green-box{
  height: 257px;
  width: 327px;
  background: #00474B;
  border-radius: 15px;
  padding: 40px 24px 24px 24px;
  color:#FFFFFF;
}
.text-person{
  font-family: 'Space Mono', monospace;
  font-size: 24px;
font-size: 13px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
color: #7F9D9F;
}
#tip-amount{
  font-family: 'Space Mono', monospace;
  font-size: 24px;
font-size: 32px;
font-weight: 700;
line-height: 47px;
letter-spacing: -0.6666666865348816px;
text-align: right;
color: #26C2AE;
overflow-wrap: anywhere ;

}
#total-amount{
  font-family: 'Space Mono', monospace;
  font-size: 24px;
font-size: 32px;
font-weight: 700;
line-height: 47px;
letter-spacing: -0.6666666865348816px;
text-align: right;
color: #26C2AE;
overflow-wrap: anywhere;

}

.text-in-green-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.reset{
  height: 48px;
width: 281px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
background: #26C2AE;
border: none;
}
.reset:focus{
    background: #9FE8DF;
    border: none;
}
.reset-text{
  font-family: 'Space Mono', monospace;
  font-size: 24px;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: center;
color: #00474B;
}
.custom-text{
  color: #547878;

}
#custom-box{
  background: #F3F9FA;
  text-align: center;
  font-size: 24px;
  height: 48px;
  width: 144px;
  border:none;
}
.bill-green-box{
  margin-bottom: 0px;
}


@media only screen and (min-width: 1024px) {
    body{
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
    
    .white-box{
        height: 481px;
        width: 920px;
        left: 260px;
        top: 304px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        margin:0px;
    }
    .green-box{
        height: 417px;
width: 413px;
left: 0px;
top: 0px;
border-radius: 15px;
padding: 56px 40px 40px 40px;

    }
    .left-to-green-box{
        height: 48px;
width: 379px;
left: 0px;
top: 0px;
border-radius: 5px;

    }
    .tip-amount{
        size: 48px;
    }
    .percent-button{
        width: 115px;
    }
    /* #amount-box{
        margin-bottom: 40px;
        width: 100%;
        border: none;
    } */
    .text-in-green-box{
        margin-bottom: 40px;
    }
    .reset{
        height: 48px;
        width: 333px;
        left: 0px;
        top: 0px;
        border-radius: 5px;

    }
    .tip-amount{
        font-size: 48px;
    }
    .logo{
       
        margin-bottom: 87px;
    }
    #custom-box{
      width: 115px;
    }
  }
